<div class="reg-form">
  <mat-toolbar color="primary">Formulaire d'inscription</mat-toolbar>
  <mat-card>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-card-content>
          <mat-form-field class="w100">
            <input matInput placeholder="login" formControlName="name" type="text">
          </mat-form-field>
          <mat-form-field class="w100">
            <input matInput placeholder="email" formControlName="mail" type="text">
          </mat-form-field>
          <mat-form-field class="w100">
            <input matInput placeholder="mot de passe" formControlName="pass" type="password">
          </mat-form-field>
          <mat-form-field class="w100">
            <input matInput placeholder="confirmer mot de passe" formControlName="check" type="password">
          </mat-form-field>
          <small *ngIf="form.errors?.passwordMismatch" style="color: red;">Les mots de passe doivent être identiques</small>
          <form [formGroup]="form.controls['domaines']">
            <label>Domaines d'action</label>
            <div class="w100" *ngFor="let dom of domaines">
              <mat-checkbox [formControlName]="dom.libelle">{{ dom.libelle }}</mat-checkbox>
              <!--<mat-selection-list>
                <mat-list-option *ngFor="let dom of domaines" value="dom.libelle" >{{ dom.libelle }}</mat-list-option>
              </mat-selection-list>-->
            </div>
          </form>
      </mat-card-content>
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">S'enregistrer</button>
      <mat-card-actions>
      </mat-card-actions>
    </form>
  </mat-card>
</div>