<div class="reg-form">
  <mat-toolbar color="primary">Formulaire d'inscription</mat-toolbar>
  <mat-card>
    <mat-card-content>
      <form>
        <mat-form-field class="w100">
          <input matInput placeholder="login">
        </mat-form-field>
        <mat-form-field class="w100">
          <input matInput placeholder="email">
        </mat-form-field>
        <mat-form-field class="w100">
          <input matInput placeholder="mot de passe">
        </mat-form-field>
        <mat-form-field class="w100">
          <input matInput placeholder="confirmer mot de passe">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary">S'enregistrer</button>
    </mat-card-actions>
  </mat-card>
</div>